biuro wynajmu nieruchomnosci/Asystent Telegram - Biuro Nieruchomości (Multimodalny).json
{
  "name": "Asystent Telegram - Biuro Nieruchomości (Multimodalny)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "id": "tg-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -16
      ],
      "webhookId": "a1a0d35f-1392-4b71-bbeb-41fdc63d9fe4",
      "credentials": {
        "telegramApi": {
          "id": "8Z73UowUNXiBPVtB",
          "name": "n8ntestmultimodal"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "5761d6ac-1afe-4dbb-b706-3af603bd4113"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7c8e98e4-5929-41b1-83a3-989e2e9d9633",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-type",
      "name": "Switch - Typ Wiadomości",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        224,
        -16
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "pl"
        }
      },
      "id": "openai-stt",
      "name": "Whisper - Transkrypcja Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        672,
        80
      ],
      "credentials": {
        "openAiApi": {
          "id": "kkj14qnD4cBwY9wg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "nv-1",
              "name": "userInput",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "nv-2",
              "name": "chatId",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id.toString() }}",
              "type": "string"
            },
            {
              "id": "nv-3",
              "name": "inputType",
              "value": "voice",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "norm-voice",
      "name": "Normalizuj Głos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "nt-1",
              "name": "userInput",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "nt-2",
              "name": "chatId",
              "value": "={{ $json.message.chat.id.toString() }}",
              "type": "string"
            },
            {
              "id": "nt-3",
              "name": "inputType",
              "value": "text",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "norm-text",
      "name": "Normalizuj Tekst",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        -112
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userInput }}",
        "options": {
          "systemMessage": "Jesteś pomocnym asystentem biura nieruchomości specjalizującego się w wynajmie mieszkań w Polsce. Twoja rola to wstępna obsługa klientów przez komunikator Telegram.\n\n🏠 ZAKRES POMOCY:\n- Informacje o dostępnych mieszkaniach do wynajęcia\n- Ceny wynajmu i warunki umów najmu\n- Wymagane dokumenty (dowód osobisty/paszport, zaświadczenie o dochodach, referencje od poprzednich wynajmujących)\n- Umawianie wizyt oglądania mieszkań\n- Informacje o lokalizacjach, dzielnicach, komunikacji miejskiej\n- Kaucja (zazwyczaj 1-2 miesiące), czynsz administracyjny, opłaty za media\n- Zasady dotyczące zwierząt domowych i palenia tytoniu\n- Długość umów: krótkoterminowe (od 1 miesiąca) i długoterminowe (12+ miesięcy)\n\n📋 ZASADY ODPOWIADANIA:\n- ZAWSZE odpowiadaj po polsku, krótko i konkretnie\n- Bądź ciepły, profesjonalny i pomocny\n- Dostosuj odpowiedzi do czytania na telefonie (krótkie paragrafy, maksymalnie 3-4 zdania na punkt)\n- Na końcu każdej odpowiedzi zaproponuj konkretny następny krok (np. umówienie wizyty, przesłanie ofert emailem)\n- Przy niejasnych pytaniach dopytaj o szczegóły: budżet, lokalizacja, liczba pokoi, data wprowadzenia\n- Kompleksowe lub prawne sprawy kieruj do agenta lub na spotkanie w biurze\n\n📞 DANE KONTAKTOWE BIURA (zastąp prawdziwymi):\n- Telefon: +48 999 999 999 \n- Email: biuro@nieruchomosci.pl\n- Godziny: pon-pt 9:00-17:00, sob 10:00-14:00\n- Adres: ul. Przykładowa 1, Warszawa\n\nPamiętaj: Twoja rola to profesjonalna wstępna kwalifikacja klientów i zbieranie ich potrzeb.\n\nNarzędzia:\n- Lista nieruchomości i ich status by Air Table - użyj tego narzędzia, żeby sprawdzić aktualna dostępność mieszkań na wynajem"
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1552,
        -16
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.7
        }
      },
      "id": "llm-openai",
      "name": "GPT-4o-mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1360,
        208
      ],
      "credentials": {
        "openAiApi": {
          "id": "kkj14qnD4cBwY9wg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chatId }}",
        "contextWindowLength": 10
      },
      "id": "memory-node",
      "name": "Pamięć Rozmowy",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1488,
        208
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "tg-send",
      "name": "Wyślij Odpowiedź",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1904,
        -16
      ],
      "webhookId": "738e3154-cbbf-44a8-bc98-8622cfbad022",
      "credentials": {
        "telegramApi": {
          "id": "8Z73UowUNXiBPVtB",
          "name": "n8ntestmultimodal"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🏠 Multimodalny Asystent Telegram\n### Biuro Nieruchomości - Wynajem Mieszkań\n\n**2 modalności wejściowe:**\n🎤 Głos → Whisper STT → tekst\n💬 Tekst → bez zmian\n\n**Wymagane kredencjały:**\n1. Telegram Bot API (BotFather)\n2. OpenAI API Key\n\n**Setup po deploymencie:**\n- Zaktualizuj dane kontaktowe biura w System Prompt węzła AI Agent",
        "height": 230,
        "width": 360,
        "color": 4
      },
      "id": "note-main",
      "name": "📋 INFO - Asystent Biura",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        -208
      ]
    },
    {
      "parameters": {
        "content": "## 🤖 AI Agent z Pamięcią\n\n**Model:** GPT-4o-mini\n**Pamięć:** 10 ostatnich wiadomości\n**Sesja:** unikalna per użytkownik\n(klucz = chat.id)\n\n**Output:** zawsze tekst\n→ Telegram sendMessage",
        "height": 230,
        "width": 300,
        "color": 6
      },
      "id": "note-ai",
      "name": "🤖 AI + PAMIĘĆ",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        656,
        -448
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        80
      ],
      "id": "9ea9deef-bc7d-49a6-964e-80c42ec49e19",
      "name": "Get a file",
      "webhookId": "3b063ece-840e-4c1c-9213-0f7c05c0b0a1",
      "credentials": {
        "telegramApi": {
          "id": "8Z73UowUNXiBPVtB",
          "name": "n8ntestmultimodal"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        -16
      ],
      "id": "1784e849-6f7a-4a4e-bf82-31900b2dec93",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.chatId }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1264,
        -144
      ],
      "id": "b706f897-1e8c-479b-a401-76ff5f8213e5",
      "name": "Send a chat action",
      "webhookId": "72604dc1-be03-483c-9dfa-202f1fd7ffa3",
      "credentials": {
        "telegramApi": {
          "id": "8Z73UowUNXiBPVtB",
          "name": "n8ntestmultimodal"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Search records in Airtable.\n\nHere is the schema for Properties:\n\nProperty Name\n\nType: Text\nPrimary identifier for the property\nAddress\n\nType: Text\nIdentifier for the street\nStreet\n\nType: Text\nStreet address of the property\nType\n\nType: Single select\nOptions: Apartment, House, Condo, Townhouse, Studio, Other\nBedrooms\n\nType: Number (integer)\nCount of bedrooms\nBathrooms\n\nType: Number (integer)\nCount of bathrooms\nSquare Footage\n\nType: Number (integer)\nSize of the property in square feet\nRent Price\n\nType: Currency (USD)\nMonthly rent amount\nAvailability Status\n\nType: Single select\nOptions: Available, Rented, Upcoming\nDescription\n\nType: Long text\nDetailed description of the property\nListed Date\n\nType: Date\nDate when the property was listed\nLink to Products\n\nType: Linked record\nConnection to Products\nLandlords\n\nType: Linked record\nConnection to Landlords\nTenants\n\nType: Linked record\nConnection to Tenants\n\n",
        "authentication": "airtableOAuth2Api",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appwAWv3Q9PMNlH0a",
          "mode": "list",
          "cachedResultName": "TestApp",
          "cachedResultUrl": "https://airtable.com/appwAWv3Q9PMNlH0a"
        },
        "table": {
          "__rl": true,
          "value": "tblisFD03XtJfhn4U",
          "mode": "list",
          "cachedResultName": "Properties",
          "cachedResultUrl": "https://airtable.com/appwAWv3Q9PMNlH0a/tblisFD03XtJfhn4U"
        },
        "filterByFormula": "={{ $fromAI('Filter_By_Formula', ``, 'string') }}",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1712,
        192
      ],
      "id": "7ccc3987-178c-4308-b9a2-f7a27a6e8727",
      "name": "Lista nieruchomosci i ich status by Air Table",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "q0rdYtVN2kJpwahI",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch - Typ Wiadomości",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Typ Wiadomości": {
      "main": [
        [
          {
            "node": "Normalizuj Tekst",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Whisper - Transkrypcja Audio": {
      "main": [
        [
          {
            "node": "Normalizuj Głos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizuj Głos": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Normalizuj Tekst": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Wyślij Odpowiedź",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pamięć Rozmowy": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Whisper - Transkrypcja Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send a chat action",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a chat action": {
      "main": [
        []
      ]
    },
    "Lista nieruchomosci i ich status by Air Table": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "binaryMode": "separate"
  },
  "versionId": "7fd10d4b-daf7-405a-b3d4-e3d74692977c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "09373dc29972a821f2f36cf9017baede51510d6d820d175935c22f645f9e4095"
  },
  "id": "mkxYCKiBXtS8vglb",
  "tags": []
}